@{
    ViewBag.Title = "Contact Us";
}

<div class="one-block">
    <div class="container">

        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <br />
        <br />
        <br />
        <address>
            <b>Lower Mainland Yacht Co-op </b> <br />
            123 Dot Net Street<br />
            Vancouver, BC V5Z 1Z1<br />
            <abbr title="Phone">P:</abbr>
            778.555.0100 <br />
            
        </address>
        <br />
        <br />
        <br />
        <address>
            <strong>IT Support:</strong>   <a href="mailto:Support@example.com">jeiyang108@gmail.com</a><br />
            <strong>Business:</strong> <a href="mailto:Marketing@example.com">micoleinah@gmail.com</a>
        </address>

    </div>

</div>