body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    margin-top: 10px;
    position: relative;
}

.navbar-body {
    margin-top: 30px;
}
.navbar-inverse .navbar-nav > li > a {
    color: Highlight;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: darkblue;
}
.one-block {
    background-color: #e1e7f2;
    border-radius: 15px;
    padding: 40px;
}

.one-block h2 {
    font: font-family: Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #dbdbdb;
    /*title*/
}

.one-block h3 {
        /*message*/
}

.mainpage-block {
    background-image: url("../Image/mainimage.jpeg");
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
